---
// lib
import { Image } from "astro:assets";
// components
import { HomeBtn } from "@components/ui/HomeBtn";
import H1 from "@components/ui/H1.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
// assets
import bgImage from "/src/assets/images/background/home-bg.jpg";
import { CheckCircle } from "lucide-react";
---

<section class="">
  <ContentLayout
    className="flex w-full flex-col justify-between gap-x-12 px-0 pb-0  md:items-center lg:flex-row"
  >
    <Image
      src="/images/hero.jpg"
      alt="zdjęcie mieszkania, tło"
      width={600}
      height={700}
      class="mx-auto aspect-square object-cover shadow-md sm:aspect-video md:rounded-[24px] lg:aspect-square"
    />
    <div
      class="mx-auto flex max-w-[600px] flex-col justify-between gap-2 px-2 pb-12 pt-4 md:gap-5 md:py-10 lg:max-w-full"
    >
      <H1 className="text-start">Profesjonalne Remonty Mieszkań i Domów</H1>
      <Text
        className="hidden break-words text-start font-medium md:text-xl lg:block"
      >
        Oferujemy kompleksowe usługi remontowe, w tym remonty mieszkań, domów
        oraz obiektów komercyjnych. Dzięki doświadczeniu, profesjonalizmowi i
        konkurencyjnym cenom jesteśmy najlepszym wyborem na rynku.
      </Text>

      <div class="mb-2 flex flex-col gap-2 lg:mb-8">
        <p class="flex items-center gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 text-emerald-500" /> Gwarancja jakości
        </p>
        <p class="flex items-center gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 text-emerald-500" /> Terminowość
        </p>
        <p class="flex items-center gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 text-emerald-500" /> Transparentna wycena
        </p>
      </div>
      <HomeBtn client:load />
    </div>
  </ContentLayout>
</section>
