---
// lib
import { Image } from 'astro:assets';
// components
import { HomeBtn } from '@components/ui/HomeBtn';
import H1 from '@components/ui/H1.astro';
import Text from '@components/ui/Text.astro';
import ContentLayout from '@layouts/ContentLayout.astro';
// assets
import bgImage from '/src/assets/images/background/home-bg.jpg';
---

<section class="flex items-end bg-secondary sm:min-h-screen">
  <ContentLayout className="flex w-full flex-col px-0 pb-0 pt-16">
    <Image
      src={bgImage}
      alt="zdjęcie mieszkania, tło"
      class="left-0 right-0 w-full object-cover shadow-[0_10px_80px_40px_rgba(0,0,0,0.4)] sm:absolute sm:top-0 sm:h-full"
    />
    <div
      class="flex h-[min(600px,100%)] max-w-[700px] flex-col items-start justify-between gap-5 self-end px-2 py-10 sm:rounded-[25px] sm:border-2 sm:px-10 sm:backdrop-blur sm:backdrop-brightness-50">
      <H1 className="text-start">Profesjonalny remont dla twojego domu.</H1>
      <Text className="break-words text-start font-medium md:text-xl">
        Firma z wieloletnim doświadczeniem oferuje kompleksowe usługi z zakresu
        remontów. Specjalizujemy się w remontach mieszkań, domów oraz obiektów
        komercyjnych. Nasza solidność, doświadczenie i zespół wysoko
        wykwalifikowanych fachowców sprawiają, że realizujemy projekty z
        najwyższą starannością i terminowością. Zadowolenie klienta to nasz
        priorytet, dlatego stawiamy na transparentność, profesjonalizm i
        konkurencyjne ceny.
      </Text>
      <HomeBtn client:load />
    </div>
  </ContentLayout>
</section>
