---
// components
import H2 from "@components/ui/H2.astro";
import H3 from "@components/ui/H3.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import { Headset, NotepadText, UserCog, Truck } from "lucide-react";

const howToStartData = [
  {
    id: 1,
    title: "Konsultacja",
    text: "Skontaktuj się z nami i skorzystaj z bezpłatnej porady.",
    icon: Headset,
  },
  {
    id: 2,
    title: "Wycena",
    text: "Nasz kosztorysant odwiedzi Cię i przygotuje szczegółową wycenę.",
    icon: NotepadText,
  },
  {
    id: 3,
    title: "Koordynacja",
    text: "Ustalamy harmonogram prac i podpisujemy umowę.",
    icon: UserCog,
  },
  {
    id: 4,
    title: "Start",
    text: "Dostarczamy materiały i realizujemy remont krok po kroku.",
    icon: Truck,
  },
];
---

<section class="w-full bg-card">
  <ContentLayout className="flex flex-col items-center gap-y-8 sm:gap-y-16">
    <div class="flex flex-col items-center space-y-4">
      <H2>Od czego zacząć remont pod klucz?</H2>
      <Text className="max-w-4xl text-start text-xl sm:text-center"
        >Sprawnie i bez stresu – tak wygląda remont pod klucz. Od pierwszej
        konsultacji aż po gotowe mieszkanie, dbamy o każdy etap prac.</Text
      >
    </div>
    <div class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 lg:grid-cols-4">
      {
        howToStartData.map(({ id, title, text, icon: Icon }) => (
          <div class="flex max-w-sm flex-col items-center space-y-2">
            <Icon className="h-14 w-14 md:h-20 md:w-20 stroke-[1.5px] text-foreground" />
            <div class="space-y-1">
              <H3 className=" font-semibold">
                {id}. {title}
              </H3>
              <Text className="text-lg">{text}</Text>
            </div>
          </div>
        ))
      }
    </div>
  </ContentLayout>
</section>
