---
// components
import DisplayServices from '@components/DisplayServices.astro';
import H2 from '@components/ui/H2.astro';
import ContentLayout from '@layouts/ContentLayout.astro';
const services = await Astro.glob('src/pages/usługi/*.md');
---

<section class="bg-primary">
  <ContentLayout className="flex flex-col items-center gap-14 py-10">
    <H2>Nasze usługi</H2>
    <DisplayServices
      data={services.slice(0, 3)}
      className="grid grid-cols-1 gap-y-10 sm:grid-cols-2 lg:grid-cols-3"
      imageSize={{ width: 200, height: 230 }}
    />
    <a
      href="/usługi/"
      class="rounded-full border-2 bg-accent/70 px-10 py-2 text-center shadow-castom duration-300 hover:bg-accent/50"
      >Zobacz więcej usług</a
    >
  </ContentLayout>
</section>
