---
import ContentLayout from "@layouts/ContentLayout.astro";
// import image1 from "@assets/images/why-us-section/professionalism.jpg";
// import image2 from "@assets/images/why-us-section/time.jpg";
// import image3 from "@assets/images/why-us-section/quality.jpg";
// import { Image } from "astro:assets";
import H3 from "@components/ui/H3.astro";
import H2 from "@components/ui/H2.astro";
import Text from "@components/ui/Text.astro";

const whyUsData = [
  {
    image: {
      url: "/images/professionalism.jpg",
      alt: "zdjęcie profilaktycznego remontu",
    },
    title: "Profesjonalizm",
    text: "Nasz zespół składa się z doświadczonych specjalistów, którzy podejmują się każdego zadania z pełnym zaangażowaniem. Jesteśmy przekonani, że profesjonalizm to klucz do sukcesu, dlatego każdy remont realizujemy z najwyższą starannością. ",
  },
  {
    image: {
      url: "/images/time.jpg",
      alt: "zdjęcie terminowości",
    },
    title: "Terminowość",
    text: "Szanujemy Twój czas i dlatego dokładamy wszelkich starań, aby prace były wykonane zgodnie z ustalonym harmonogramem. Dzięki temu możesz cieszyć się odnowionym wnętrzem bez zbędnych opóźnień.",
  },
  {
    image: {
      url: "/images/quality.jpg",
      alt: "zdjęcie jakościowego remontu",
    },
    title: "Jakość",
    text: "Stawiamy na jakość materiałów i precyzję wykonania. Dzięki temu nasze prace są trwałe, estetyczne i spełniają oczekiwania nawet najbardziej wymagających klientów.",
  },
];
---

<section class="bg-card/50">
  <ContentLayout className=" px-0 pb-0 lg:pt-16">
    <div class="flex flex-col items-center space-y-4 px-4 py-8">
      <H2 className="max-w-6xl"
        >Dlaczego My? - Wybierz Najlepszą Firmę Remontową</H2
      >
      <Text className="max-w-4xl text-start text-xl sm:text-center"
        >Wybierając naszą firmę, zyskujesz pewność, że Twój remont będzie
        wykonany profesjonalnie i zgodnie z najwyższymi standardami. Oto kilka
        powodów, dla których warto nam zaufać:</Text
      >
    </div>
    {
      whyUsData.map(({ image, title, text }, i) => (
        <div
          class=" md:flex"
          style={{ flexDirection: i === 1 ? "row-reverse" : "row" }}
        >
          <img
            class=" w-[100%] object-cover sm:h-[300px] md:w-[50%] lg:h-[350px]"
            src={image.url}
            alt={image.alt}
          />
          <div class="flex w-[100%] flex-col items-start justify-center gap-8 px-4 py-10 sm:px-10 md:w-[50%]">
            <H3 className="border-primary border-l-4 py-1 pl-5 font-bold">
              {title}
            </H3>
            <p class="text-lg sm:text-xl">{text}</p>
          </div>
        </div>
      ))
    }
  </ContentLayout>
</section>
