---
import ContentLayout from "@layouts/ContentLayout.astro";
import { ImageGallery } from "@components/ImageGallery";
---

<section id="realizacje" class="bg-primary">
  <ContentLayout className="px-0">
    <h2 class="text-center text-3xl font-bold">Realizacje</h2>
    <ImageGallery client:load client:only />
  </ContentLayout>
</section>
