---
import H1 from "@components/ui/H1.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import { Image } from "astro:assets";
import { CheckCircle } from "lucide-react";
---

<section class="">
  <div
    class="flex w-full flex-col justify-between gap-x-12 md:mb-24 md:items-center lg:flex-row"
  >
    <Image
      src="/images/services-hero.jpg"
      alt="zdjęcie mieszkania, tło"
      width={500}
      height={700}
      class="mx-auto aspect-square object-cover shadow-md sm:aspect-video md:rounded-[24px] lg:aspect-square"
    />
    <div
      class="mx-auto flex max-w-[600px] flex-col justify-between gap-2 px-2 pb-12 pt-4 md:gap-5 md:py-10 lg:max-w-full"
    >
      <H1 className="text-start"
        >Kompleksowe Usługi Remontowe dla Twojego Domu i Firmy</H1
      >
      <Text
        className="hidden break-words text-start font-medium md:text-xl lg:block"
      >
        Nowoczesne, solidne i terminowe remonty mieszkań, domów oraz lokali
        użytkowych. Stawiamy na jakość, precyzję i pełną satysfakcję klienta.
      </Text>

      <div class="mb-2 flex flex-col gap-2 lg:mb-8">
        <p class="flex items-start gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 mt-1 min-w-6  text-emerald-500" /> Kompleksowe
          podejście – Od projektu po finalne wykończenie.
        </p>
        <p class="flex items-start gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 mt-1  min-w-6 text-emerald-500" /> Sprawdzone
          materiały – Pracujemy na najlepszych produktach.
        </p>
        <p class="flex items-start gap-2 text-xl font-semibold">
          <CheckCircle className="stroke-3 mt-1  min-w-6 text-emerald-500" /> Gwarancja
          terminowości – Kończymy prace zgodnie z harmonogramem.
        </p>
      </div>
    </div>
  </div>
</section>
