---
// component imports
import MainLayout from "@layouts/MainLayout.astro";
import H1 from "@components/ui/H1.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
---

<MainLayout
  className="flex items-center justify-center"
  title="Strona nie znaleziona"
  description="Strona nie znaleziona"
>
  <ContentLayout
    className="flex min-h-[500px] flex-col items-center justify-center gap-10"
  >
    <H1 className="">404 Strona nie znaleziona</H1>
    <Text>Strona ktorą szukasz nie została znaleziona lub nie istnieje.</Text>
    <a
      href="/"
      class="w-full rounded-full border-2 bg-primary px-10 py-2 text-center text-2xl text-secondary-foreground sm:w-auto"
      >Na Główną</a
    >
  </ContentLayout>
</MainLayout>
