---
// component imports
import MainLayout from "@layouts/MainLayout.astro";
import H1 from "@components/ui/H1.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
---

<MainLayout
  className="flex items-center justify-center"
  title="Strona nie znaleziona"
  description="Strona nie znaleziona"
>
  <ContentLayout className="flex flex-col items-center gap-10">
    <H1 className="">No cóż, to niezręczne!</H1>
    <Text>Wygląda na to, że coś przeoczyliśmy…</Text>
    <a href="/" class="bg-accent rounded-full border-2 px-10 py-2 text-center"
      >Na Główną</a
    >
  </ContentLayout>
</MainLayout>
