---
import MainLayout from "@layouts/MainLayout.astro";
import H1 from "@components/ui/H1.astro";
import Text from "@components/ui/Text.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import { Image } from "astro:assets";
import { CheckCircle } from "lucide-react";
---

<MainLayout
  title="Kontakt - Swoje Ściany"
  description="Skontaktuj się z nami, aby omówić swoje potrzeby remontowe w Warszawie. Nasz zespół jest gotowy odpowiedzieć na wszystkie pytania i zapewnić profesjonalne doradztwo. Zadzwoń lub napisz do nas, aby umówić się na konsultację."
>
  <section class="relative">
    <ContentLayout className="flex flex-col gap-12  !px-0">
      <div
        class="flex w-full flex-col justify-between gap-x-12 px-0 pb-0 md:items-center lg:flex-row"
      >
        <Image
          src="/images/contact-bg.jpg"
          alt="zdjęcie mieszkania, tło"
          width={600}
          height={400}
          class="mx-auto aspect-[4/3] object-cover shadow-md md:rounded-[24px]"
        />
        <div
          class="mx-auto flex max-w-[600px] flex-col justify-between gap-2 px-2 pt-4 md:gap-5 md:py-10 lg:max-w-full"
        >
          <H1 className="text-start"
            >Skontaktuj się z Nami – Twój Remont Zaczyna Się Tutaj!</H1
          >
          <Text
            className="hidden break-words text-start font-medium md:text-xl lg:block"
          >
            Masz pytania? Potrzebujesz wyceny? Jesteśmy tutaj, aby Ci pomóc!
          </Text>

          <div class="mb-2 flex flex-col gap-2 lg:mb-8">
            <p class="flex items-center gap-2 text-lg text-gray-600">
              <CheckCircle size={20} className="stroke-3 text-emerald-500 " /> Bezpłatna
              konsultacja i wycena
            </p>
            <p class="flex items-center gap-2 text-lg text-gray-600">
              <CheckCircle size={20} className="stroke-3 text-emerald-500 " /> Szybka
              odpowiedź
            </p>
            <p class="flex items-center gap-2 text-lg text-gray-600">
              <CheckCircle size={20} className="stroke-3 text-emerald-500 " /> Indywidualne
              podejście
            </p>
          </div>
        </div>
      </div>
    </ContentLayout>
  </section>
</MainLayout>
