---
import { Navigation } from "@components/Navigation";
import { cn } from "@utils/cn";
import { LogoHeader } from "./ui/LogoHeader";
---

<header
  class={cn(
    "fixed top-0 z-50 h-14 w-screen bg-background/70 shadow-md backdrop-blur"
  )}
>
  <div
    class="mx-auto flex h-full max-w-[1400px] items-center justify-between px-2.5 sm:px-5"
  >
    <a href="/" aria-label="Go home">
      <div class="h-14 w-16 md:h-16 md:w-20">
        <LogoHeader />
      </div>
    </a>
    <Navigation client:only="react" />
  </div>
</header>
