---
// lib import
import { Image } from 'astro:assets';
// components
import { Navigation } from '@components/Navigation';
// assets
import logo from '@assets/images/logo/logo.svg';
---

<header
  class="fixed top-0 z-50 h-16 w-screen backdrop-blur-sm backdrop-brightness-50">
  <div
    class="mx-auto flex h-full max-w-[1200px] items-center justify-between px-2.5 sm:px-5">
    <a href="/" aria-label="Go home">
      <Image src={logo} alt="firmowe logo" class="w-16 md:w-20" />
    </a>
    <Navigation client:load client:only />
  </div>
</header>
