---
// components
import { DisplayServices } from "@components/DisplayServices";
import H1 from "@components/ui/H1.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";

const services = await Astro.glob("src/pages/usługi/*.md");
---

<MainLayout title="Swoje Ściany - Usługi" description="Nasze usługi">
  <section class="bg-[gray] py-14">
    <ContentLayout>
      <H1 className="pb-20">Nasze usługi</H1>

      <DisplayServices
        data={services}
        className="flex flex-wrap items-center justify-center gap-2 gap-y-10"
        client:load
      />
    </ContentLayout>
  </section>
</MainLayout>
