---
// components
import H2 from "@components/ui/H2.astro";
import ServicesCard from "@components/ui/ServicesCard.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";

const services = await Astro.glob("src/pages/usługi/*.md");
---

<MainLayout title="Swoje Ściany - Usługi" description="Nasze usługi">
  <section class="bg-[gray] py-10">
    <ContentLayout className="space-y-20">
      <H2>Nasze usługi</H2>
      <div
        class="flex flex-wrap items-center justify-center gap-2 sm:gap-x-5 md:gap-x-10 lg:gap-x-20"
      >
        {
          services.map((service) => (
            <ServicesCard
              url={service.url}
              frontmatter={service.frontmatter}
              className="w-[300px] h-[300px]"
            />
          ))
        }
      </div>
    </ContentLayout>
  </section>
</MainLayout>
