---
import MainHead from "@layouts/MainHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { Cookies } from "@components/Cookies";
import LogoAnimation from "@components/LogoAnimation/LogoAnimation";

const {
  title = "Swoje Ściany",
  description = "Profesjonalne remonty mieszkań, domów i obiektów komercyjnych.",
  className,
} = Astro.props;
---

<html lang="pl">
  <MainHead {title} {description} />
  <body class="flex min-h-screen flex-col bg-primary text-white">
    <Header />
    <main
      class:list={[
        "flex grow flex-col tracking-wide [text-shadow:_1px_1px_0_rgb(5_5_5_)]",
        className,
      ]}
    >
      <slot />
      <Cookies client:load />
      <LogoAnimation client:load />
    </main>
    <Footer />
  </body>
</html>
