---
import MainHead from "@layouts/MainHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

const {
  title = "Swoje Ściany",
  description = "Profesjonalne remonty mieszkań, domów i obiektów komercyjnych.",
  className,
} = Astro.props;
---

<html lang="pl">
  <MainHead {title} {description} />
  <body class="bg-primary text-light flex min-h-screen flex-col">
    <Header />
    <main
      class:list={[
        "flex grow flex-col [text-shadow:_1px_1px_0_rgb(0_0_0_)]",
        className,
      ]}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
