---
import { cn } from 'src/utils/cn';

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h1 class:list={cn('text-center text-3xl font-bold md:text-5xl', className)}>
  <slot />
</h1>
