---
import { cn } from "src/utils/cn";

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h1 class:list={cn("text-center text-4xl font-bold md:text-6xl", className)}>
  <slot />
</h1>
