---
import { cn } from "@utils/cn";

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h2
  class:list={cn(
    "mb-3 text-3xl font-bold md:text-center md:text-4xl",
    className
  )}
>
  <slot />
</h2>
