---
import { cn } from "@utils/cn";

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h2 class:list={cn("text-3xl font-bold md:text-center md:text-5xl", className)}>
  <slot />
</h2>
