---
import { cn } from "@utils/cn";

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h3 class:list={cn("text-center text-2xl  md:text-3xl", className)}>
  <slot />
</h3>
