---
import { cn } from "@utils/cn";

type Props = {
  className?: string;
};

const { className } = Astro.props as Props;
---

<h3
  class:list={cn("font-montserrat text-center text-xl  md:text-2xl", className)}
>
  <slot />
</h3>
