---
import HoverImageBackground from "@components/gridLayout/ui/HoverImageBackground";
import H3 from "@components/ui/H3.astro";
import { cn } from "@utils/cn";
import { Image } from "astro:assets";
const { url, frontmatter, className } = Astro.props;
---

<a
  href={url}
  class:list={cn(
    "group flex flex-col items-center space-y-5 capitalize",
    className,
  )}
>
  <div
    class="h-[70%] w-full overflow-hidden rounded-lg border shadow-xl shadow-black/30"
  >
    <Image
      width={300}
      height={300}
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      class="h-full w-full object-cover duration-300 group-hover:scale-105"
    />
  </div>
  <H3>{frontmatter.title}</H3>
</a>
